In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
dfa=pd.read_csv(r"C:/Users/user/Downloads/5_0.csv")

In [11]:
dfa.head()

  po|,121.5474,25.17777,800M  Unnamed: 1
0           2015/05/06-13:00        97.8
1           2015/05/06-14:00        97.8
2           2015/05/06-15:00        97.8
3           2015/05/06-16:00        97.8
4           2015/05/06-17:00        97.8

In [15]:
dfa.columns.values[1]="quality"

In [ ]:
dfa.head()

In [13]:
df.quality

AttributeError: 'DataFrame' object has no attribute 'quality'